<!doctype html>
<html ng-app="foramendata"
<head>
	<meta charset="utf-8">
	<title>Foramen-data</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--[if lt IE 9]> HTML5Shiv
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body ng-controller="DataController as dataCtrl" ng-cloak>

	<div id="selection" ng-controller="FileAPIController as fileAPICtrl">
		<input type="file" id="files" name="files[]" multiple></input>
		<label>Tiedostot:</label><br/>
		<div id="fileList">
			Ei valittuja tiedostoja
		</div>

		<label>Suodata dataa:</label><br/>
		<div class="btn-group">
			<label class="btn btn-primary" ng-model="filterModel" ng-change="filterModelChanged()" btn-radio="['Kuntoutuja', false]" uncheckable>Vain kuntoutujat</label>
			<label class="btn btn-primary" ng-model="filterModel" ng-change="filterModelChanged()" btn-radio="['Läheinen', false]" uncheckable>Vain läheiset</label>
			<label class="btn btn-primary" ng-model="filterModel" ng-change="filterModelChanged()" btn-radio="['Kuntoutuja','Läheinen', false]" uncheckable>Kaikki</label>
		</div>
		&nbsp;
		<div class="btn-group">
			<label class="btn btn-primary" ng-model="filterModel" ng-change="filterModelChanged()" btn-radio="['Kuntoutuja', true]" uncheckable>Hae ryhmätieto (vain kuntoutujat)</label>
			<label class="btn btn-primary" ng-model="filterModel" ng-change="filterModelChanged()" btn-radio="['Kuntoutuja','Läheinen', true]" uncheckable>Hae ryhmätieto (kaikki)</label>
		</div>
	</div>

	<div id="data" ng-cloak scroll ng-class="{min:boolChangeClass}">

		<div class="header clearfix">

			<h1>Harjoitukset ajalta {{smallestDate | amDateFormat: 'D.M.YYYY' }} - {{largestDate | amDateFormat: 'D.M.YYYY' }}</h1>
			<nav>
				<button class="btn btn-default" ng-click="forceShowUnplayedGames = !forceShowUnplayedGames">Näytä/piilota harjoitukset joita ei ole tehty</button>
				<button class="btn btn-default" ng-click="scrollTop()">Takaisin ylös</button>
			</nav>

		</div>


		<div class="dataset clearfix" ng-show="!groupComparison"
			ng-repeat="user in users | orderBy:'name' track by $index">

			<h2>{{user.name}} <small>{{user.group}}</small>
				<button class="btn btn-primary" ng-click="openModal(user, 'lg')">Grafiikka</button>
			</h2>

			<table class="table table-striped table-bordered">
				<tr>
					<th><a ng-click="orderByField='game'; reverseSort = !reverseSort">
						Harjoitus
					</a></th>
					<th><a ng-click="orderByField='plays.length'; reverseSort = !reverseSort">
						Aloitetut harjoitteet
					</a></th>
					<th><a ng-click="orderByField='plays.length-unfinished'; reverseSort = !reverseSort">
						Loppuun pelatut harjoitteet
					</a></th>
					<th><a ng-click="orderByField='(plays.length-unfinished)/plays.length'; reverseSort = !reverseSort">
						Loppuun pelattujen harjoitteiden prosentti
					</a></th>
					<th><a ng-click="orderByField='levels[0]'; reverseSort = !reverseSort">
						Taso I
					</a></th>
					<th><a ng-click="orderByField='levels[1]'; reverseSort = !reverseSort">
						Taso II
					</a></th>
					<th><a ng-click="orderByField='levels[2]'; reverseSort = !reverseSort">
						Taso III
					</a></th>
					<th><a ng-click="orderByField='levels[3]'; reverseSort = !reverseSort">
						Jokeri&shy;taso
					</a></th>
					<th><a ng-click="orderByField='duration'; reverseSort = !reverseSort">
						Käytetty aika yhteensä
					</a></th>
					<th><a ng-click="orderByField='durationMedian'; reverseSort = !reverseSort">
						Harjoitteen keston Mediaani
					</a></th>
					<th><a ng-click="orderByField='duration/plays.length'; reverseSort = !reverseSort">
						Harjoitteen keston Keskiarvo
					</a></th>
					<th><a ng-click="orderByField='exerciseDays.length'; reverseSort = !reverseSort">
						Harjoittelu&shy;päivien lkm
					</a></th>
					<th><a ng-click="orderByField='duration/exerciseDays.length'; reverseSort = !reverseSort">
						Harjoittelu&shy;aika keskimäärin per päivä
					</a></th>
				</tr>

				<tr ng-repeat="data in user.data | orderBy: orderByField: reverseSort"
						ng-show="forceShowUnplayedGames || data.plays.length > 0">
					<td class="align-left">{{data.game}}</td>
					<td>{{data.plays.length}}</td>
					<td>{{data.plays.length - data.unfinished}}</td>
					<td>{{(data.plays.length - data.unfinished) / data.plays.length | percentage:1}}</td>
					<td>{{data.levels[0]}}</td>
					<td>{{data.levels[1]}}</td>
					<td>{{data.levels[2]}}</td>
					<td>{{data.levels[3]}}</td>
					<td>{{data.duration | readableTime}}</td>
					<td>{{data.durationMedian | readableTime}}</td>
					<td>{{data.duration / data.plays.length | readableTime}}</td>
					<td>{{data.exerciseDays.length}}</td>
					<td>{{data.duration / data.exerciseDays.length | readableTime}}</td>
				</tr>

				<tr class="yellow-row">
					<td class="align-left">Kaikki yhteensä</td>
					<td>{{user.overall.totalPlays}}</td>
					<td>{{user.overall.totalPlays - user.overall.unfinished}}</td>
					<td>{{ (user.overall.totalPlays - user.overall.unfinished) / user.overall.totalPlays | percentage:1}}</td>
					<td>{{user.overall.levels[0]}}</td>
					<td>{{user.overall.levels[1]}}</td>
					<td>{{user.overall.levels[2]}}</td>
					<td>{{user.overall.levels[3]}}</td>
					<td>{{user.overall.duration | readableTime}}</td>
					<td>{{user.overall.durationMedian | readableTime}}</td>
					<td>{{user.overall.duration / user.overall.totalPlays | readableTime}}</td>
					<td>{{user.overall.exerciseDays.length}}</td>
					<td>{{user.overall.duration / user.overall.exerciseDays.length | readableTime}}</td>
				</tr>

			</table>
			<hr/>

		</div>

			<div class="dataset clearfix" ng-show="groupComparison && group.members.length > 0 && group.overall.totalPlays > 0"
			ng-repeat="group in groups | orderBy:'name' track by $index">
			<h2>{{group.name}} <small>Harjoittelijoita löytyi {{group.members.length}} kpl.</small></h2>

			<table class="table table-striped table-bordered">
				<tr>
					<th><a ng-click="orderGroupsByField='game'; reverseSort = !reverseSort">
						Harjoitus
					</a></th>
					<th><a ng-click="orderGroupsByField='plays.length'; reverseSort = !reverseSort">
						Aloitetut harjoitteet
					</a></th>
					<th><a ng-click="orderGroupsByField='plays.length-unfinished'; reverseSort = !reverseSort">
						Loppuun pelatut harjoitteet
					</a></th>
					<th><a ng-click="orderGroupsByField='(plays.length-unfinished)/plays.length'; reverseSort = !reverseSort">
						Loppuun pelattujen harjoitteiden prosentti <small>(loppuunpelattujen harjoitteiden määrä / kokonaispelikerrat)</small></a></th>
					<th><a ng-click="orderGroupsByField='plays.length-group.unfinished'; reverseSort = !reverseSort">
						Loppuun pelattujen harjoitteiden keskiarvo <small>(loppuunpelattujen harjoitteiden määrä / harjoittelijoiden määrä)</small></a></th>
					<th><a ng-click="orderGroupsByField='levels[0]'; reverseSort = !reverseSort">
						Taso I
					</a></th>
					<th><a ng-click="orderGroupsByField='levels[1]'; reverseSort = !reverseSort">
						Taso II
					</a></th>
					<th><a ng-click="orderGroupsByField='levels[2]'; reverseSort = !reverseSort">
						Taso III
					</a></th>
					<th><a ng-click="orderGroupsByField='levels[3]'; reverseSort = !reverseSort">
						Jokeri&shy;taso
					</a></th>
					<th><a ng-click="orderGroupsByField='duration'; reverseSort = !reverseSort">
						Harjoituksessa käytetty aika
					</a></th>
				</tr>

				<tr ng-repeat="data in group.data | orderBy: orderGroupsByField: reverseSort"
				ng-show="forceShowUnplayedGames || data.plays.length > 0">
					<td class="align-left">{{data.game}}</td>
					<td>{{data.plays.length}}</td>
					<td>{{data.plays.length - data.unfinished}}</td>
					<td>{{ (data.plays.length - data.unfinished) / data.plays.length | percentage:1}}</td>
					<td>{{ (data.plays.length - data.unfinished) / group.members.length | number: 1}}</td>
					<td>{{data.levels[0]}}</td>
					<td>{{data.levels[1]}}</td>
					<td>{{data.levels[2]}}</td>
					<td>{{data.levels[3]}}</td>
					<td>{{data.duration | readableTime}}</td>
				</tr>

				<tr class="yellow-row">
					<td class="align-left">Yhteensä</td>
					<td>{{group.overall.totalPlays}}</td>
					<td>{{group.overall.totalPlays - group.overall.unfinished}}</td>
					<td>{{ (group.overall.totalPlays - group.overall.unfinished) / group.overall.totalPlays  | percentage: 1 }}</td>
					<td>{{ (group.overall.totalPlays - group.overall.unfinished) / group.members.length | number: 1}}</td>
					<td>{{group.overall.levels[0]}}</td>
					<td>{{group.overall.levels[1]}}</td>
					<td>{{group.overall.levels[2]}}</td>
					<td>{{group.overall.levels[3]}}</td>
					<td>{{group.overall.duration | readableTime}}</td>
				</tr>

			</table>

			<div class="alert alert-danger" role="alert">
				Vähiten harjoitteita tehty: {{group.leastPlays | iif: group.leastPlays : 0}}<br/>
				Vähiten aikaa käytetty: {{group.leastTimePlayed | readableTime}}
			</div>
			<div class="alert alert-success" role="alert">
				Eniten harjoitteita tehty: {{group.mostPlays | iif: group.mostPlays : 0}}<br/>
				Eniten aikaa käytetty: {{group.mostTimePlayed | readableTime}}
			</div>

			<hr/>

		</div>

	</div><!-- close #data -->

	<div id="overlay" ng-show="loadingShowing"></div>

	<div class="loading" ng-show="loadingShowing">
		Ladataan<br/>
		<div class="loading-spinner"></div>
	</div>

</body>

<script type="text/ng-template" id="chartsContent.html">

<div ng-controller="ChartsController as chartsCtrl" ng-init="modalVisible=true; initCharts()">
	<button class="btn btn-default" ng-click="close()">Sulje</button>

	<div ng-show="modalDataLoading" class="loading chartError colored-bg">
		<h1>Ladataan...</h1>
		<div class="loading-spinner loading-spinner-black"></div>
	</div>

	<div ng-show="chartError" class="chartError">
		<h1>Käyttäjältä ei saatavilla dataa.</h1>
		<button class="btn btn-default btn-lg" ng-click="close()">Sulje</button>
	</div>

	<div class="printable-chart" ng-if="modalVisible && showGameComparison" id="chart" ac-chart="'pie'"
	data-ac-data="gameComparisonData"
	data-ac-config="gameComparisonConfig">
	</div>

	<div class="printable-chart" ng-if="modalVisible && showPlayBars" id="bar-chart" ac-chart="'bar'"
	data-ac-data="playBarsData"
	data-ac-config="playBarsConfig">
	</div>

	<div class="printable-chart" ng-if="modalVisible && showWeekPlayBars" id="bar-chart" ac-chart="'bar'"
	data-ac-data="weekPlayBarsData"
	data-ac-config="weekPlayBarsConfig">
	</div>

	<div ng-hide="chartError || modalDataLoading" class="modal-footer">
		<button class="btn btn-default" print-div=".printable-chart">Tulosta</button>

		<button class="btn btn-default" ng-class="{'btn-primary':showGameComparison}"
		ng-click="showPlayBars=false; showGameComparison=true; showWeekPlayBars=false;">
			Näytä pelijakauma
		</button>
		<button class="btn btn-default" ng-class="{'btn-primary':showPlayBars}"
		ng-click="showGameComparison=false; showPlayBars=true; showWeekPlayBars=false;">
			Näytä harjoittelun jakautuminen päivittäin
		</button>
		<button ng-show="multiple" class="btn btn-default"
		ng-class="{'btn-primary':showWeekPlayBars}"
		ng-click="showGameComparison=false; showPlayBars=false; showWeekPlayBars=true;">
			Näytä harjoittelun jakautuminen viikoittain
		</button>
	</div>
</div>

</script>



<!-- Place your scripts here -->
<script type="text/javascript" src="app/lib/angular/angular.min.js"></script>

<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/charts/chartsCtrl.js"></script>

<script type="text/javascript" src="app/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="app/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="app/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<script type="text/javascript" src="app/lib/underscore/underscore-min.js"></script>

<script type="text/javascript" src="app/lib/d3/d3.min.js"></script>
<script type="text/javascript" src="app/lib/angular-charts/dist/angular-charts.js"></script>
<script type="text/javascript" src="app/lib/moment/moment.js"></script>
<script type="text/javascript" src="app/lib/angular-moment/angular-moment.min.js"></script>
</html>
