<!doctype html>
<html ng-app="foramendata"
<head>
	<meta charset="utf-8">
	<title>Foramen-data</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--[if lt IE 9]> HTML5Shiv
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link href="css/main.css" rel="stylesheet">
</head>
<body>

  <div id="selection" ng-controller="FilesController as filesCtrl">
		<label>Valitse tiedosto(t) :</label>
    <select name="selectFileFromDir" class="form-control" ng-model="fileName" ng-options="file as file for file in files" multiple >
		</select>
		<br/>
		<button class="btn btn-default" ng-click="passFileName(fileName)">Hae data</button>
  </div>

	<div id="data" ng-controller="DataController as dataCtrl" ng-cloak scroll ng-class="{min:boolChangeClass}">

		<div class="header clearfix">
			<h1>Harjoitukset ajalta {{smallestDate | date: 'd.M'}} - {{largestDate | date: 'd.M.yyyy'}}</h1>
			<nav>
				<button class="btn btn-default" ng-click="forceShowUnplayedGames = !forceShowUnplayedGames">Näytä/piilota harjoitukset joita ei ole tehty</button>
				<button class="btn btn-default" ng-click="scrollTop()">Takaisin ylös</button>
			</nav>
		</div>

		<div class="week clearfix" ng-repeat="user in users track by $index">
			<h2>{{user.name}} <small>{{user.group}}</small></h2>
			<table class="table table-striped table-bordered">
				<tr>
					<th><a ng-click="orderByField='game'; reverseSort = !reverseSort">
						Harjoitus
					</a></th>
					<th><a ng-click="orderByField='plays.length'; reverseSort = !reverseSort">
						Aloitetut harjoitteet
					</a></th>
					<th><a ng-click="orderByField='plays.length-unfinished'; reverseSort = !reverseSort">
						Loppuun pelatut harjoitteet
					</a></th>
					<th><a ng-click="orderByField='finishedPercentage'; reverseSort = !reverseSort">
						Loppuun pelattujen harjoitteiden prosentti
					</a></th>
					<th><a ng-click="orderByField='level1'; reverseSort = !reverseSort">
						Taso 1
					</a></th>
					<th><a ng-click="orderByField='level2'; reverseSort = !reverseSort">
						Taso 2
					</a></th>
					<th><a ng-click="orderByField='level3'; reverseSort = !reverseSort">
						Taso 3
					</a></th>
					<th><a ng-click="orderByField='duration'; reverseSort = !reverseSort">
						Käytetty aika yht. per harjoite
					</a></th>
					<th><a ng-click="orderByField='exerciseTimeMedian'; reverseSort = !reverseSort">
						Harjoitteen keston Mediaani
					</a></th>
					<th><a ng-click="orderByField='exerciseTimeAverage'; reverseSort = !reverseSort">
						Harjoitteen keston Keskiarvo
					</a></th>
					<th><a ng-click="orderByField='exerciseDays.length'; reverseSort = !reverseSort">
						Harjoittelu&shy;päivien lkm
					</a></th>
					<th><a ng-click="orderByField='duration/exerciseDays.length'; reverseSort = !reverseSort">
						Harjoittelu&shy;aika keskimäärin per päivä
					</a></th>
				</tr>

				<tr ng-repeat="data in user.data | orderBy: orderByField: reverseSort" ng-show="forceShowUnplayedGames || data.plays.length > 0">
					<td class="align-left">{{data.game}}</td>
					<td>{{data.plays.length}}</td>
					<td>{{data.plays.length - data.unfinished}}</td>
					<td>{{data.finishedPercentage | percentage:1}}</td>
					<td>{{data.level1}}</td>
					<td>{{data.level2}}</td>
					<td>{{data.level3}}</td>
					<td>{{data.duration | readableTime}}</td>
					<td>{{data.exerciseTimeMedian | readableTime}}</td>
					<td>{{data.exerciseTimeAverage | readableTime}}</td>
					<td>{{data.exerciseDays.length}}</td>
					<td>{{data.duration / data.exerciseDays.length | readableTime}}</td>
				</tr>

				<tr class="yellow-row">
					<td class="align-left">Kaikki yhteensä</td>
					<td>{{user.overall.totalPlays}}</td>
					<td>{{user.overall.totalPlays - user.overall.unfinished}}</td>
					<td>{{ (user.overall.totalPlays - user.overall.unfinished) / user.overall.totalPlays | percentage:1}}</td>
					<td>{{user.overall.level1}}</td>
					<td>{{user.overall.level2}}</td>
					<td>{{user.overall.level3}}</td>
					<td>{{user.overall.duration | readableTime}}</td>
					<td>{{median(user.overall.durationsArr) | readableTime}}</td>
					<td>{{user.overall.duration / user.overall.totalPlays | readableTime}}</td>
					<td>{{user.overall.exerciseDays.length}}</td>
					<td>{{user.overall.duration / user.overall.exerciseDays.length | readableTime}}</td>
				</tr>
			</table>
			<hr/>
		</div>

	</div>

	<div id="overlay">
		<div class="loading">
			Ladataan<br/>
			<div class="loading-spinner"></div>
		</div>
	</div>

</body>

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='_/js/jquery-1.9.1.min.js'>\x3C/script>")</script>

<!-- Place your scripts here -->
<script type="text/javascript" src="app.js"></script>

</html>
